<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <title>{{ title }}</title>
</head>
<body>
<div class="header">
    <a class="header-logo" href="#">Tim pizza</a>
    <button class="header-login">Login

    </button>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/home">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/talktous">Связаться с нами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="aboutus-info">
        <p class="lead aboutus_info">
            КОМПАНИЯ
Мы смотрим в будущее
Мы не добавляем консерванты, усилители вкуса, красители, ароматизаторы, растительные и животные жиры, вредные добавки с маркировкой «Е». У нас строгий контроль качества: наши филиалы придерживаются норм Роспотребнадзора и санэпидемстанции. Мы используем только сертифицированную мясную и рыбную продукцию от крупных поставщиков.


Мы клиентоориентированная компания
Наша Служба клиентской поддержки (СКП) – самая крупная в области доставки. Мы относимся к Вашим жалобам и предложениям как к дополнительной возможности контроля за работой наших сотрудников и улучшения качества обслуживания. Ни одна жалоба не остается без внимания.

Мы гарантируем, что по каждому случаю проводится работа с персоналом компании, виновные лица привлекаются к дисциплинарной и/или материальной ответственности, а клиент получает компенсацию за полученные неудобства. Служба клиентской поддержки: +7 (499) 648-76-16 rsk@ipizza.ru


Мы оглядываемся в прошлое
Бренд "ИМПЕРИЯ ПИЦЦЫ" на рынке доставки уже 18 лет! Все эти годы совершенствовались качество и технологии.

Мы не берем плату за доставку Вашего заказа.
Мы работаем круглосуточно, но с 5:00 до 8:00 утра у нас санитарно-технический перерыв.
Все блюда готовятся непосредственно после получения заказа профессиональными поварами, проходящими регулярное медосвидетельствование и имеющими медицинскую книжку, с использованием одноразовых перчаток и придерживаясь других норм гигиены.
Перед передачей курьеру заказ упаковывается и опломбируется на кухне.
На всех этапах производства ведется круглосуточное видеонаблюдение, таким образом мы можем контролировать весь процесс обработки и приготовления Вашего заказа.

Название организации:
ООО "ИМПЕРИЯ ПИЦЦЫ"

Юридический адрес:
111024, г. Москва, ул. Энтузиастов 2-я, д. 5, корп. 40

ОГРН:
1147746237264 от 07.03.2014г.

Тип организации:
Общество с ограниченной ответственностью

Для коммерческих предложений:
E-mail: offers@ipizza.ru

Отдел по работе с клиентами:
Телефон: +7 (499) 648-76-16
E-mail: rsk@ipizza.ru

Отдел по работе с корпоративными клиентами:
E-mail: corp@ipizza.ru

Офис:
Факс: +7 (495) 221-05-50 (доб. 5750)
E-mail: ofmanager@ipizza.ru
        </p>
    </div>
</div>

</body>

</html>